/* 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;

  --main-btn-color: #2196f3;
  --accent-btn-color: #188ce8;

  --footer-bgc: #2f303a;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ===================  index  =================== */

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 0.42px;
  box-sizing: border-box;
}

.logo {
  color: var(--accent-text-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.logo-studio {
  color: #000000;
}

.nav-link {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.nav-link.current {
  color: var(--accent-text-color);
}

.contacts-link {
  color: var(--main-text-color);
}

/* .nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-text-color);
} */

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}

/* ------------  Hero  ------------ */

.hero {
  background: var(--footer-bgc);
}

.hero-title {
  color: #ffffff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.btn {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  background-color: var(--main-btn-color);
  cursor: pointer;

  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-btn-color);
}

/* ------------  sections  ------------ */

.section-title {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
}

/* ------------  Features  ------------ */

/* .features-list {
  
} */

.feature-title {
  color: var(--secondary-text-color);
  text-transform: uppercase;
}

.feature-text {
  color: var(--main-text-color);
  line-height: 1.71;
}

/* ------------  What do we do?  ------------ */

/* ------------  TEAM  ------------ */

.team {
  background: #f5f4fa;
}

.employee-name {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.employee-position {
  color: var(--main-text-color);
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
}

/* ------------  Footer  ------------ */

footer {
  background-color: var(--footer-bgc);
}

footer .logo-studio {
  color: #ffffff;
}

.address-location {
  color: #fff;
  font-style: normal;
  line-height: 1.71;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
}

/* ===================  PORTFOLIO  =================== */

.filter-btn {
  background: #f5f4fa;

  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  box-shadow: none;
}

.filter-btn:hover,
.filter-btn:focus {
  background: #2196f3;

  color: #ffffff;

  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.work-title {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
}

.work-description {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.48px;
}
